@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  ::selection {
    @apply bg-accent/10 text-accent;
  }

  h1,
  h2,
  h3 {
    letter-spacing: -0.025em;
  }

  h1 {
    letter-spacing: -0.035em;
  }
}
